.login-container {
  height: 100vh;
}

.login-card {
  width: 80%;
  max-width: 1100px;
  background: #fff;
  border-radius: 15px;
}

.left-side {
  width: 55%;
}

.right-side {
  width: 45%;
  background: #fff;
  border-left: 1px solid #eee;
  border-radius: 0 15px 15px 0;
}

.input-box {
  height: 45px;
  border-radius: 6px;
}

.btn-primary {
  height: 45px;
  background: #000 !important;
  border: none;
}

.google-btn {
  height: 45px;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 6px;
}

.google-btn:hover {
  background: #f7f7f7;
}

.google-icon {
  width: 20px;
}

.login-image {
  width: 80%;
}
