.app-container {
  display: flex;
  /* height: 90vh; */
  font-family: "Segoe UI", sans-serif;
}

.main-content {
  flex: 1;
  padding: 20px;
  background: #f0f0fa !important; 
  overflow-y: auto;
  min-height: 100vh;
  min-width: 156vh !important;
  max-width: 100% !important;
}

.router{
  background: #f0f0fa !important;
}

@keyframes slideDown {
  from { opacity: 0; transform: translateY(-30px); }
  to { opacity: 1; transform: translateY(0); }
}

@keyframes slideUp {
  from { opacity: 0; transform: translateY(30px); }
  to { opacity: 1; transform: translateY(0); }
}

.slideDown {
  animation: slideDown 0.6s ease forwards;
}

.slideUp {
  animation: slideUp 0.6s ease forwards;
}
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Outfit:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: "Outfit", serif !important;
    background-color: #ecf0f4 !important;
    overflow-x: hidden;
}

.ml-auto, .mx-auto {
    margin-left: auto !important;
}

::-webkit-scrollbar {
    width: 5px !important;
    height: 5px !important;
}

::-webkit-scrollbar-thumb {
    background: #6a6a6b !important;
}

::-webkit-scrollbar-track {
    background: transparent !important;
}

h1,h2,h3,h4,h5,h6,p{
    color: #403e57;
}

.btn-blue {
    background: #0858f7 !important;
    font-size: 14px !important;
    text-transform: capitalize !important;
    font-weight: 600 !important;
    color: #ffff !important;
    border-radius: 8px !important;
}

.btn-lg{
    padding: 5px 25px !important;
}

.btn-big{
    padding: 10px 25px !important;
    font-size: 16px !important;
}

.btn-big svg{
    font-size: 20px !important;
    margin-right: 5px;
}

.btn-round{
    border-radius: 30px !important;
}

.full{
    max-width: 100% !important;
    flex: 0 0 100% !important;
    width: 100% !important;
}

.link{
    color: #5e5d72 !important;
    text-decoration: none !important;
    cursor: pointer;
    font-weight: 600 !important;
}

header {
    width: 100%;
    height: 90px;
    background: rgba(255, 255, 255, 0.9);
    position: fixed !important;
    top: 0px;
    left: 0px;
    z-index: 1000;
    -webkit-backdrop-filter: blur(5px) !important;
    backdrop-filter: blur(5px) !important;
}

header .logo {
    text-decoration: none;
}

header .logo img {
    width: 85% !important;
}

header .logo span {
    color: #292929;
    font-size: 24px;
    font-weight: 800;
}

header button.rounded-circle {
    min-width: 40px !important;
    width: 40px !important;
    height: 40px !important;
    background-color: #000 !important;
    color: #fff !important;
}

header button.rounded-circle svg {
    color: #fff;
    font-size: 18px;
    transition: all 0 2s ease-in-out;
}

header button.rounded-circle:hover svg {
    color: #efefef  !important;
}

header .part2{
    padding-left: 50px;
}

.search-box {
    width: 400px;
    height: 40px;
    background-color: #000 !important;
    border-radius: 6px;
    padding: 3px 15px;
    gap: 10px !important;
    color: #fff;
}

.search-box input {
    background: transparent;
    border: 0px;
    outline: none;
    padding-left: 0px;
    font-size: 14px;
    color: #fff;
}

.search-box input::-webkit-input-placeholder {
    color: #fff;
}

.search-box svg {
    font-size: 18px;
    color: #fff;
}

.myacc {
    text-align: left !important;
    color: #77BEF0 !important;
}

.user-img {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    width: 40px;
    height: 40px;
    border: 1px solid #000 !important;;
    padding: 2px;
    border-radius: 50%;
}

.user-img .rounded-circle {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    width: 100%;
    height: 100%;
    cursor: pointer;
    position: relative;
}

.user-img .rounded-circle img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.user-img.lg{
    width: 60px !important;
    height: 60px !important;
}

.myacc .use-info {
    padding-left: 10px;
}

.myacc .use-info h4 {
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 0px;
    color: #292929;
    line-height: 15px !important;
}

.myacc .use-info p {
    margin-top: 0px;
    font-size: 12px;
    color: #000;
    opacity: 0.7;
    line-height: 15px !important; 
}

#account-menu li{
    font-size: 14px !important;
    padding: 8px 12px !important;
}

#account-menu li svg {
    font-size: 20px !important;
}

#notifications .MuiPaper-elevation{
    right: 250px !important;
    width: 300px !important;
    left: auto !important;
    top: 70px !important;
}

.dropdown_list .head {
    padding: 10px 0px;
}

.dropdown_list .head h4{
    font-size: 17px;
    font-weight: 600 !important;
}

.dropdown_list li.MuiButtonBase-root{
    background: #ebf6ff !important;
    color: #000;
    padding: 10px 15px;
}

.dropdown_list li.MuiButtonBase-root:hover{
    background: #e2e8ed !important;
}

.dropdown-info {
    padding-left: 15px;
}

.dropdown-info h4{
    font-size: 13px;
    font-weight: 500;
    white-space: break-spaces;
    line-height: 21px;
    margin-top: 0px;
    margin-bottom: 0px;
}
#orders{
    margin-left: 20px;
}
.dropdown-info h4 b{
    font-weight: 600;
    margin-right: 5px;
}

.dropdown-info p{
    font-size: 12px;
    font-weight: 500;
    margin-top: 0px;
}

.text-sky{
    color: #0858f7 !important;
}

.dropdown_list .scroll{
    max-height: 300px;
    overflow-y: scroll;
    overflow-x: hidden;    
}

.scroll {
    scrollbar-width: thin;
    scrollbar-color:  transparent;
}
.dropdownWrapper{
    margin-right: -50px ;
}

.dropdownWrapper .isopennav{
    opacity: 0 !important;
}

.logout{
    text-decoration: none;
    color: red !important;
}

/* sidebar */

.part3{
  justify-content: space-evenly !important;
}

.sidebar-wrapper {
    width: 20%;
    flex: 0 0 20%;
    transition: all 0.3s;
}

.sidebar-wrapper.toggle{
    width: 0%;
    flex: 0 0 0%;
}

 .sidebar-wrapper .sidebar {
    width: 15%;
    /* height: 92vh; */
    height: 100% !important;
    max-height: calc(100% - 70px);
    position: fixed;
    top: 70px;
    left: 0px;
    background: #fff !important;
    overflow-x: hidden;
    scrollbar-width: thin;
    scrollbar-color:  transparent;
    padding-bottom: 40px !important;
    transition: all 0.3s;
}

 .sidebar-wrapper.toggle .sidebar{
    left: -100%;
}

 .sidebar-wrapper .sidebar ul{
    margin-bottom: 0px;
    padding: 10px 15px;
}

 .sidebar-wrapper .sidebar ul li{
    list-style: none;
}

 .sidebar-wrapper .sidebar ul li button{
    color: #5e5d72 !important;
    text-align: left;
    justify-content: left;
    border-radius: 10px !important;
    padding: 12px 10px !important;
    align-items: center;
    text-transform: capitalize;
    font-weight: 600 !important;
    font-family: "Outfit", serif !important;
    font-size: 20px !important;
}

 .sidebar-wrapper .sidebar ul li button .icons {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    margin-right: 10px;
}

 .sidebar-wrapper .sidebar ul li button .icons svg{
    font-size: 22px;
}

 .sidebar-wrapper .sidebar ul li button {
    color: #5e5d72 !important;
}

 .sidebar-wrapper .sidebar ul li button .arrows{
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    transition: all 0.3s ease-in-out;
}

 .sidebar-wrapper .sidebar ul li button:hover{
    background: #ecedf0 !important;
}

.sidebar-wrapper .sidebar ul li button.active{
    background: #ecedf0 !important;
}
 .sidebar-wrapper .sidebar ul li button.active .arrows{
    transform: rotate(90deg);
}
 .sidebar-wrapper .sidebar ul .submenu {
    padding: 0 45px;
    position: relative;
}

 .sidebar-wrapper .sidebar ul .submenu::before{
    content: '';
    width: 1px;
    height: 95%;
    position: absolute;
    top: 0px;
    left: 22px;
    background: rgba(0, 0, 0, 0.2);
}

 .sidebar-wrapper .sidebar ul .submenu li{
    width: 100%;
    list-style: none;
}

.sidebar-wrapper .sidebar ul .submenu li a{
    color: #5e5d72 !important;
    text-decoration: none;
    display: block;
    padding: 6px 0px;
    font-size: 14px;
    font-weight: 500;
    transition: all 0.3s;
}

@media (max-width: 1110px) {
    .sidebar-wrapper{
   opacity: 0;
   width: 0%;
}
.sidebar-wrapper .sidebar{
    width: 0%;
}
}
